.resena{
  width: 100vh;
}

.datosAdicionales{
  width: 150vh;
}

h7{
  margin-left: 2vh;
  font: oblique bold 120% cursive;
}
.tarjeta{
  margin-left: 5vh;
}

.general{
  background-color: #B7DDFF;
}
