<div *ngIf="!especialidaConfirmada" class="container">
  <div  class="row tabla">
    <div class="col-md-12 mb-2 spaceLeft">
      <div class="card shadow mb-4 borde opacity">
        <div class="card-header py-3">
          <h6 class="etiqueta"> Validar Especialistas:</h6>
        </div>
        <div class="card-body opacity">
          <div class="col-md-12">
            <div class="d-flex justify-content-around">
              <div class="mat-elevation-z8 opacity">
                <table mat-table [dataSource]="data">
                  <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef>  </th>
                    <td mat-cell *matCellDef="let row"> <mat-radio-button value="si" (change)="seleccionado($event)"  (click)="especialidad(row.id)" ></mat-radio-button> </td>
                  </ng-container>

                  <ng-container matColumnDef="profesional">
                    <th mat-header-cell *matHeaderCellDef> Profesional </th>
                    <td mat-cell *matCellDef="let row"> {{ row.apellido + ' , ' + row.nombre }} </td>
                  </ng-container>

                  <ng-container matColumnDef="especialidad">
                    <th mat-header-cell *matHeaderCellDef> Especialidad </th>
                    <td mat-cell *matCellDef="let row"> {{row.especialidades[0].nombre }} </td>
                  </ng-container>

                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado de Especialidad </th>
                    <td mat-cell *matCellDef="let row"> {{ row.habilitado ? 'HABILITADO' : 'DESHABILITADO'  }} </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderCellDiv"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
                <mat-paginator #pagina [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            <br>
            <div class="button">
              <button *ngIf="especialista" class="spaceLeft spaceUp btnAgregar" mat-raised-button color="primary" (click)="validarEspecialista()">Validar</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <h4>{{verificacion}}</h4><img *ngIf="especialidaConfirmada" class="accept"  src="./assets/accept.png"   alt="accept">
</div>



