.menu{
  margin-left: -1vh;
  margin-top: -9vh;
  background-color: #177445;
}

a{
  color : white;
  font: oblique bold 120% cursive;
  padding: 4.3vh;

}

a:hover{
  background-color: #059797;
  border-radius: 5px;
}
