<div class="row">
  <div class="row tabla">
    <div class="col-md-12 mb-2 spaceLeft">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="etiqueta"> Horarios De Ingreso</h6>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div  class="d-flex justify-content-around">
              <div id="ingreso" class="mat-elevation-z8">
                <table  mat-table [dataSource]="data" matSort matTableExporter #exporter="matTableExporter">

                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                  </ng-container>

                  <ng-container matColumnDef="ingreso">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ingreso </th>
                    <td mat-cell *matCellDef="let row"> {{row.id }} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre }} </td>
                  </ng-container>

                  <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                    <td mat-cell *matCellDef="let row"> {{row.apellido }} </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderCellDiv"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #pagina [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            <div class="button">
              <button class="spaceLeft spaceUp btnAgregar" mat-raised-button color="primary" (click)="generarPDF('ingreso','horarios_')"> exportar A PDF</button>
              <button class="spaceLeft spaceUp btnAgregar" mat-raised-button color="primary" (click)="exporter.exportTable('xlsx', {fileName:'horarios'})"> exportar A Excel</button>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row tabla">
    <div class="col-md-12 mb-2 spaceLeft">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="etiqueta"> Turnos Por Especialidad</h6>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div id="especialidad" class="d-flex justify-content-around">
              <div  class="mat-elevation-z8">
                <table  mat-table [dataSource]="dataEspecialidad" matSort matTableExporter #exporter2="matTableExporter">

                  <ng-container matColumnDef="especialidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </th>
                    <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de Turnos </th>
                    <td mat-cell *matCellDef="let row"> {{row.cantidad }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayEspecialidad" class="tableHeaderCellDiv"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayEspecialidad;"></tr>
                </table>
                <mat-paginator #pagina2 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            <div class="button">
              <button class="spaceLeft spaceUp btnAgregar" mat-raised-button color="primary" (click)="generarPDF('especialidad','especialidad_')"> exportar A PDF</button>
              <button class="spaceLeft spaceUp btnAgregar" mat-raised-button color="primary" (click)="exporter2.exportTable('xlsx', {fileName:'especialidad'})"> exportar A Excel</button>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row tabla fecha">
    <div class="col-md-12 mb-2 spaceLeft">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="etiqueta"> Turnos por Dia de Semana</h6>
        </div>
        <div class="card-body ">
          <div class="col-md-12">
            <div  class="d-flex justify-content-around">
              <div  class="mat-elevation-z8">
                <table id="fecha"  mat-table [dataSource]="dataFechas" matSort matTableExporter #exporter3="matTableExporter">

                  <ng-container matColumnDef="fechas">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                  </ng-container>

                  <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de Turnos </th>
                    <td mat-cell *matCellDef="let row"> {{row.cantidad }} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayFechas" class="tableHeaderCellDiv"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayFechas;"></tr>
                </table>
                <mat-paginator #pagina3 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            <div class="button">
              <button class="spaceLeft spaceUp btnAgregar" mat-raised-button color="primary" (click)="generarPDF('fecha','turnosPorFechas_')"> exportar A PDF</button>
              <button class="spaceLeft spaceUp btnAgregar" mat-raised-button color="primary" (click)="exporter3.exportTable('xlsx', {fileName:'turnosPorFecha'})"> exportar A Excel</button>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
