
.general{
  background-color: #177445;
  width: 227vh;

  margin-left: -13vh;
}

.alturaProf{
  height: 100vh;
}

.alturaPac{
  height: 95vh;
}



.etiqueta{
  text-align: center;
}

label , p , a{
  color : white;
  font: oblique bold 120% cursive;
}

.registro{
   margin-left: -2vh;
}

.link{
  color : white;
  font: oblique bold 120% cursive;
}

.perfil{
  width: 227vh;
  height: 20vh;
  background-color: #177445;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 1vh;
}

.etiquetaPerfil{
  margin-top: 2vh;
}

.spaceUp{
  margin-top: 5vh;
}

.bordeBlanco{
  border-radius: 5px;
  border: 3px solid white;
  }

.captcha{
    margin-left: 85vh;
}

.prof{
   margin-top: -5vh;
   margin-bottom: 5vh;
}
