
.general{
  background-color: #3B6D40;
  width: 227vh;
  height: 100vh;
  margin-left: -13vh;
}

.generalError{
  background-color: #3B6D40;
  width: 227vh;
  height: 120vh;
  margin-left: -13vh;
}

.error{
   color: #E99400;
  font-size: 15px;
}

.etiqueta{
  text-align: center;
}

label , p , a{
  color : white;
  font: oblique bold 120% cursive;
}

.registro{
   margin-left: -2vh;
}

.link{
  color : white;
  font: oblique bold 120% cursive;
}

.perfil{
  width: 227vh;
  height: 20vh;
  background-color: #3B6D40;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
  margin-left: 1vh;
}

.etiquetaPerfil{
  margin-top: 2vh;
}

.spaceUp{
  margin-top: 5vh;
}

.bordeBlanco{
  border-radius: 5px;
  border: 3px solid white;
  }

.captcha{
    margin-left: 85vh;
}

.prof{
   margin-top: -4vh;
   margin-bottom: 5vh;
}
