
.general{
  background-color: #4e73df;
  width: 227vh;
  height: 100vh;
  margin-left: -13vh;
}

.altaAdmin{
  background-color: #4e73df;
  width: 170vh;
  height: 20vh;
  text-align: center;
  margin-left: 10vh;
}

.registroAdmin{
  background-color: #4e73df;
  width: 10vh;
  height: 50vh;
  margin-left: -13vh;
}

.generalError{
  background-color: #4e73df;
  width: 227vh;
  height: 120vh;
  margin-left: -13vh;
}

.error{
   color: #E99400;
  font-size: 15px;
}

.etiqueta{
  text-align: center;
}

label , p , a{
  color : white;
  font: oblique bold 120% cursive;
}

.registro{
   margin-left: -2vh;
}

.link{
  color : white;
  font: oblique bold 120% cursive;
}

.perfil{
  width: 227vh;
  height: 20vh;
  background-color: #4e73df;
  text-align: center;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.etiquetaPerfil{
  margin-top: 2vh;
}

.spaceUp{
  margin-top: 5vh;
}

.bordeBlanco{
  border-radius: 5px;
  border: 3px solid white;
  }

.captcha{
    margin-left: 85vh;
}

.prof{
   margin-top: -4vh;
   margin-bottom: 5vh;
}

.admin{
  background-color: #4e73df;
  width: 169vh;
  height: 90vh;
  margin-left: 10vh;
}


.margin-left{
  margin-left: 15vh;
}

.margin-pass {
  margin-left: 10vh;
}

.margin-2{
  margin-left: 12vh;
}

.margin-apellido{
  margin-left: 7vh;
}


.catpcha-profe{
  margin-top: 5vh;
}

.captcha-pac{
  margin-left: 10vh;
  margin-top: 2vh;
}

.captcha-admin{
  margin-left: 55vh;
}

.captcha-bottom{
  margin-top: -5vh;
}
