label , p , a{
  color : white;
  font: oblique bold 120% cursive;
}

.general{
  background-color: #3B6D40;
  width: 1000vh;
  height: 100vh;

}

.etiqueta{
  padding-top : 10vh;
}

.notification{
  padding-top : 5vh;
  padding-bottom: 5vh;
}
