<div class="container-fluid">
  <form class="formulario">
    <div class="col-md-12 mb-2 spaceLeft">
      <div *ngIf="this.ocultarPanel" class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="etiqueta"> Busqueda de Informacion</h6>
        </div>
        <div class="card-body">
            <mat-radio-group class="alineacionRadio" aria-label="Select an option">
              <div class="col-md-12">
                <div class="col-xs-6">
                  <mat-radio-button class="spaceLeft" (click)="opcionBusqueda('fecha')" value="fecha"  name="option">Por Fecha</mat-radio-button>
                </div>
                <div class="col-xs-6">
                  <mat-radio-button  (click)="opcionBusqueda('paciente')"  value="paciente" name="option">Por Paciente</mat-radio-button>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-xs-6">
                  <mat-radio-button class="spaceProfesional" (click)="opcionBusqueda('profesional')"  value="profesional"  name="option">Por Profesional</mat-radio-button>
                </div>
                <div class="col-xs-6">
                  <mat-radio-button class="spaceEspecialidad" (click)="opcionBusqueda('especialidad')" value="especialidad" name="option">Por Especialidad</mat-radio-button>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-xs-6">
                  <mat-radio-button class="spaceEdad" (click)="opcionBusqueda('edad')" value="edad"  name="option">Por Edad</mat-radio-button>
                </div>
                <div class="col-xs-6">
                  <mat-radio-button class="spaceEspecialidad"  (click)="opcionBusqueda('temperatura')" value="temperatura"  name="option">Por Temperatura</mat-radio-button>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-xs-6">
                  <mat-radio-button class="spaceLeft"  (click)="opcionBusqueda('presion')" value="presion" name="option">Por Presion</mat-radio-button>
                </div>
                <div class="col-xs-6">
                  <mat-radio-button class="spaceObservacion"  (click)="opcionBusqueda('primera')" value="obs1" name="option">Primera Observacion</mat-radio-button>
                </div>
              </div>
              <div class="col-md-12">
                <div class="col-xs-6">
                  <mat-radio-button class="spaceEspecialidad spaceObservacion"  (click)="opcionBusqueda('segunda')" value="obs2" name="option">Segunda Observacion</mat-radio-button>
                </div>
                <div class="col-xs-6">
                  <mat-radio-button class="spaceObservacion"  (click)="opcionBusqueda('tercera')" value="obs3" name="option">Tercera Observacion</mat-radio-button>
                </div>
              </div>

            </mat-radio-group>
          </div>
        </div>
        <div  *ngIf="tipo == 'fecha'" class="row fecha">
            <label>Fecha de Turnos</label>
            <input class="form-control"  type="date" placeholder="Ingrese una fecha de Nacimiento.." [(ngModel)]="inicio" name="fechaDeNacimiento">
        </div>
      <div class="row">
        <div  *ngIf="tipo == 'paciente' || tipo == 'profesional' || tipo == 'edad' || tipo =='presion'
        || tipo == 'temperatura' || tipo == 'primera' || tipo == 'segunda' || tipo == 'tercera'">
         <mat-form-field class="b">
           <mat-label *ngIf="tipo == 'paciente'">Ingrese apellido del paciente</mat-label>
           <mat-label *ngIf="tipo == 'profesional'">Ingrese apellido del profesional</mat-label>
           <mat-label *ngIf="tipo == 'edad'">Ingrese edad del paciente</mat-label>
           <mat-label *ngIf="tipo == 'presion'">Ingrese presion del paciente</mat-label>
           <mat-label *ngIf="tipo == 'temperatura'">Ingrese temperatura del paciente</mat-label>
           <mat-label *ngIf="tipo == 'primera'">Ingrese primera observacion del paciente</mat-label>
           <mat-label *ngIf="tipo == 'segunda'">Ingrese segunda observacion del paciente</mat-label>
           <mat-label *ngIf="tipo == 'tercera'">Ingrese tercera observacion del paciente</mat-label>
           <input  matInput placeholder="Busqueda..." [(ngModel)]="busqueda" name="busqueda"/>
         </mat-form-field>
        </div>
      </div>
       <div class="row">
         <div class="alineacion" *ngIf="tipo == 'especialidad'">
           <table  mat-table [dataSource]="dataEspecialidad" matSort >
             <ng-container matColumnDef="accion">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Opcion: </th>
               <td mat-cell *matCellDef="let row"> <mat-radio-button value="si" name="accion" (click)="buscarTurnos(row.name)"  ></mat-radio-button> </td>
             </ng-container>

             <ng-container matColumnDef="especialidad">
               <th mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </th>
               <td mat-cell *matCellDef="let row"> {{row.name }} </td>
             </ng-container>

             <tr mat-header-row *matHeaderRowDef="displayEspecialidad" class="tableHeaderCellDiv"></tr>
             <tr mat-row *matRowDef="let row; columns: displayEspecialidad;"></tr>
           </table>
           <!--mat-paginator #pagina [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator-->
         </div>
       </div>
      <div class="spaceBoton">
        <button *ngIf="!this.ocultarPanel"  mat-raised-button color="primary" (click)="buscarTurnos()">Buscar Turnos</button>
      </div>
    </div>
    <div *ngIf="verDetalle">
      <app-detalle-busqueda [listaTurnos]="this.listaGenerica"  ></app-detalle-busqueda>
    </div>

  </form>
</div>
