<div class="container-fluid">
  <form class="formulario">
    <div class="col-md-12 mb-2 spaceLeft">
      <div *ngIf="this.ocultarPanel" class="card shadow mb-4 borde opacity">
        <div class="card-header py-3">
          <h6 class="etiqueta" i18n="lookingForInformation"> Busqueda de Informacion</h6>
        </div>
        <div class="card-body">
          <div class="row ">
            <div>
              <mat-form-field class="b">
                <mat-label>Ingrese la informacion que desea buscar</mat-label>
                <input  matInput placeholder="Busqueda..." [(ngModel)]="busqueda" (change)="cambio(busqueda)" name="busqueda"/>
              </mat-form-field>
            </div>
          </div>
          </div>
        </div>
      <div class="row">
        <div class="spaceBoton">
          <button class="spaceProfesional" *ngIf="!this.ocultarPanel"  mat-raised-button color="primary" i18n="clean" (click)="limpiar()">Limpiar</button>
        </div>
      </div>
    </div>
     <div *ngIf="paciente != undefined" class="row">
        <app-detalle-busqueda [listaTurnos]="listaTurnos" [paciente]="paciente"></app-detalle-busqueda>
     </div>

  </form>
</div>
