.etiqueta{
  color : #4e73df;
  font: oblique bold 120% cursive;
  padding: 1vh;
}

.formulario{
  width: 120vh;
  text-align: center;
  align-items: center;
}

.alineacionRadio{
  text-align: center;
}

.alineacion{
  margin-left: 80vh;
}

.spaceLeft{
  margin-left: -3vh;
}

.spaceProfesional{
  margin-left: 3vh;
}

.spaceEspecialidad{
  margin-left: 4vh;
}

.spaceEdad{
  margin-left: -6vh;
}

.spaceBoton{
  margin-top : 3vh;
  margin-left : 76vh;
}


.b {
  margin-left: 80vh;
  width: 65vh;
}


.tableHeaderCellDiv {
  resize: horizontal;
  overflow:hidden;
}

th.mat-header-cell {
  text-align: center;
  align-items: center;
  font-size: 16px;
}

td.mat-cell {
  text-align: center;
}

.fecha{
  margin-left: 80vh;
  text-align: center;
  width: 40vh;
}

.spaceObservacion{
  margin-left: 8vh;
}
