.white-gray-gradient-theme{
  background: #B3DBFF;
  /*background: rgb(178,178,177);
  background: linear-gradient(90deg, rgba(178,178,177,0.9895040047268907) 0%, rgba(225,225,221,1) 19%, rgba(251,250,250,1) 100%);*/
}
.fijo {
  position: fixed;
}


.blue-theme{
  background-color: #4e73df;
}

