.etiqueta{
  color : #4e73df;
  font: oblique bold 120% cursive;
  padding: 1vh;
}

.spaceLeft{
  margin-left: 5vh;
}

.spaceLeftInicioFin{
  margin-left: 7vh;
}



.fechas{
  text-align: center;
}

.spaceBotom{
  margin-bottom: 4vh;
}

.spaceInicioUp{
  margin-top: 2vh;
}

.spaceFinUp{
  margin-top: 3vh;
}



.spaceBotomFin {
  margin-bottom: 5vh;
}

.spaceLeftFin{
  margin-left: 8vh;
}

.btnAgregar{
  height: 7vh;
}

.spaceUp{
  margin-top: 3vh;
}

table {
  width: 120vh;
  text-align: center;
}
.tableHeaderCellDiv {
  resize: horizontal;
  overflow:hidden;
}

th.mat-header-cell {
  text-align: center;
  font-size: 16px;
}

.button{
  text-align: center;
}
