<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col-md-12 mb-2 spaceLeft">
         <div class="card shadow mb-4">
           <div class="card-header py-3">
             <h6 class="etiqueta">Seleccionar rango de dias y horarios disponibles:</h6>
           </div>
           <div class="card-body">
             <div class="row spaceLeft">
               <mat-form-field class="example-full-width" appearance="fill">
                 <mat-label>Fecha Inicio</mat-label>
                 <input matInput [matDatepickerFilter]="myDateFilter"  [(ngModel)]="inicio" name="inicio" [matDatepicker]="picker">
                 <mat-datepicker-toggle matSuffix [for]="picker">
                   <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                 </mat-datepicker-toggle>
                 <mat-datepicker #picker></mat-datepicker>
               </mat-form-field>
               <mat-form-field class="example-full-width spaceLeft" appearance="fill">
                 <mat-label>Fecha Fin</mat-label>
                 <input matInput [matDatepickerFilter]="myDateFilter"   [(ngModel)]="fin" name="fin" [matDatepicker]="picker2">
                 <mat-datepicker-toggle matSuffix [for]="picker2">
                   <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                 </mat-datepicker-toggle>
                 <mat-datepicker #picker2></mat-datepicker>
               </mat-form-field>
               <button class="spaceLeft spaceUp btnAgregar" mat-raised-button color="primary" (click)="generarHorarios()">Agregar Horario</button>
             </div>
             <div class="row">
               <mat-label class="spaceLeftInicioFin spaceInicioUp" >Horario de Inicio:</mat-label>
               <div class="ngx-timepicker-field-example spaceLeft ">
                    <ngx-timepicker-field id="inicio"   (timeChanged)="cambioTiempoInicio($event)"  [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field>
               </div>
             </div>
             <div class="row">
               <mat-label class="spaceLeftInicioFin spaceFinUp" >Horario de Fin:</mat-label>
               <div class="ngx-timepicker-field-example spaceLeftFin spaceBotomFin spaceInicioUp ">
                 <!--input type="time" name="fin"  [min] = "minTimeFilter" -->
                 <ngx-timepicker-field id="fin" (timeChanged)="cambioTiempoFin($event)"  [format]="24" [defaultTime]="'00:00'"></ngx-timepicker-field>
               </div>
             </div>

           </div>
         </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="col-md-12 mb-2 spaceLeft">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="etiqueta"> Confirmar Horarios</h6>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div class="d-flex justify-content-around">
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="data">

                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                  </ng-container>

                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                  </ng-container>

                  <ng-container matColumnDef="horaInicio">
                    <th mat-header-cell *matHeaderCellDef> Inicio </th>
                    <td mat-cell *matCellDef="let row"> {{row.horaInicio + ':' + row.minutoInicio + row.minutoInicio}} </td>
                  </ng-container>

                  <ng-container matColumnDef="horaFin">
                    <th mat-header-cell *matHeaderCellDef> Fin </th>
                    <td mat-cell *matCellDef="let row"> {{row.horaFin + ':' + row.minutoFin +  row.minutoFin}} </td>
                  </ng-container>

                  <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef> Accion </th>
                    <td mat-cell *matCellDef="let row"> <img src="./assets/x.png" style="width: 30% ; height: 70%"  (click)="eliminarTurno(row.id)" alt="x"></td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderCellDiv"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #pagina [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            <div class="button">
              <button class="spaceLeft spaceUp btnAgregar" mat-raised-button color="primary" (click)="confirmarHorarios()">Confirmar Horarios</button>
            </div>
            <br><br>
            <label style="color: green">{{horasConfirmadas}}</label>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
