<div class="container-fluid altaTurno ">
  <form *ngIf="!vistaTurnos">
    <h3 class="alineacion"> Reservar Turno</h3>
    <br><br>
    <div class="row">
           <div *ngIf="this.conoce == ''" class="form-check form-check-inline col-md-12 spaceLeft alineacion">
               <mat-radio-group aria-label="Select an option">
               <mat-radio-button  (click)="profesional('si')" value="si" name="option">Por Apellido</mat-radio-button>
               <mat-radio-button  (click)="profesional('no')" value="no" name="option">Por Especialidad</mat-radio-button>
             </mat-radio-group>
             <label *ngIf="conoceProfesionalError" class="form-text text-danger"> Ingrese si conoce al profesional</label>
              </div>
      <div class="alineacion" *ngIf="conoce == 'no'">
        <!--mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Especialidad</mat-label>
          <select matNativeControl [(ngModel)]="seleccionados" [ngModelOptions]="{standalone: true}">
            <option [value]="item"  *ngFor="let item of especialidad">{{item}}</option>
          </select>
        </mat-form-field-->
        <table  mat-table [dataSource]="dataEspecialidad" matSort >
          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Opcion: </th>
            <td mat-cell *matCellDef="let row"> <mat-radio-button value="si" name="accion" (click)="buscarTurnos(conoce, row.name)"  ></mat-radio-button> </td>
          </ng-container>

          <ng-container matColumnDef="especialidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </th>
            <td mat-cell *matCellDef="let row"> {{row.name }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayEspecialidad" class="tableHeaderCellDiv"></tr>
          <tr mat-row *matRowDef="let row; columns: displayEspecialidad;"></tr>
          <label style="color: green">{{this.reserva}}</label>;
        </table>
        <!--mat-paginator #pagina [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator-->
      </div>
    </div>
    <br>

    <br>
    <div *ngIf="conoce == 'si'">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput [formControl]="myControl" [matAutocomplete]="auto" >
      </mat-form-field>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option.apellido + ' ' + ',' + ' ' +  option.nombre }}
        </mat-option>
      </mat-autocomplete>
    </div>
    <button *ngIf="conoce == 'no' || conoce == 'si'" class="spaceLeft spaceUp btnAgregar alineacion" mat-raised-button color="primary" (click)="limpiar()" >Volver Atras</button>
  </form>
  <br>
  <div *ngIf="vistaTurnos" class="row">
    <div class="col-md-12 mb-2 spaceLeft">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="etiqueta"> Seleccione un turno:</h6>
        </div>
        <div class="card-body">
          <div class="col-md-12">
            <div class="d-flex justify-content-around">
              <div class="mat-elevation-z8">
                <table mat-table class="turnos" [dataSource]="data" matSort >

                  <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Opcion: </th>
                    <td mat-cell *matCellDef="let row"> <mat-radio-button value="si" (click)="turno(row.id)" (change)="seleccionado()"  ></mat-radio-button> </td>
                  </ng-container>

                  <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                    <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                  </ng-container>

                  <ng-container matColumnDef="hora">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Hora </th>
                    <td mat-cell *matCellDef="let row"> {{row.horaInicio + ':' + row.minutoInicio + row.minutoInicio}} </td>
                  </ng-container>

                  <ng-container matColumnDef="profesional">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Profesional </th>
                    <td mat-cell *matCellDef="let row"> {{ row.profesional.apellido + ' , ' + row.profesional.nombre }} </td>
                  </ng-container>

                  <ng-container matColumnDef="especialidad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Especialidad </th>
                    <td mat-cell *matCellDef="let row"> {{row.especialidad }} </td>
                  </ng-container>

                  <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                    <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderCellDiv"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  <label style="color: green">{{this.reserva}}</label>;

                </table>
                <mat-paginator #pagina [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
            <br>
            <div class="button">
              <button *ngIf="turnoSeleccionado" class="spaceLeft spaceUp btnAgregar" mat-raised-button color="primary" (click)="reservarTurno()">Reservar Turno</button>
              <button *ngIf="vistaTurnos" class="spaceLeft spaceUp btnAgregar" mat-raised-button color="primary" (click)="limpiar()">Volver Atras</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
