.general{
  background-color: #3B6D40;
}

.altaTurno{
  margin-top : -6vh;
  /*background-color: #B3DBFF;*/
}

.spaceLeft{
  margin-left: 2vh;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.example-full-width {
  width: 70%;
}

.turnos table {
  width: 120vh;
  text-align: center;
}

.tableHeaderCellDiv {
  resize: horizontal;
  overflow:hidden;
}

th.mat-header-cell {
  text-align: center;
  align-items: center;
  font-size: 16px;
}

td.mat-cell {
  text-align: center;
}

.etiqueta{
  color : #4e73df;
  font: oblique bold 120% cursive;
  padding: 1vh;
}
.exito{
  color : green;
  font: oblique bold 120% cursive;
  padding: 1vh;
}

.button{
  text-align: center;
}


.alineacion{
  margin-left: 80vh;
}

.blanco{
  background-color: white;
  color : black;
  font: oblique bold 120% cursive;
}

h3{
  font-style: oblique;
  color: white;
}

