<div *ngFor="let item of this.listaTurnos">
  <mat-card class="tarjeta general">
    <div class="turno">
      <div class="row">
        <div class="col-md-3">
          <mat-label>Fecha :</mat-label>
          <h6>  {{item.fecha}} </h6>
        </div>
        <div class="col-md-3">
          <mat-label>Hora : </mat-label>
          <h6>  {{item.horaInicio}} : {{item.minutoInicio}}{{ item.minutoInicio}} Hs </h6>
        </div>
        <div class="col-md-3">
          <mat-label>Profesional :</mat-label>
          <h6> {{item.profesional.apellido + ' ' + item.profesional.nombre }} </h6>
        </div>
        <div  class="col-md-3">
          <mat-label>Paciente :</mat-label>
          <h6> {{item.paciente.apellido + ' ' + item.paciente.nombre }} </h6>
        </div>
        <div class="col-md-3">
          <mat-label>Especialidad:</mat-label>
          <h6>  {{item.especialidad}} </h6>
        </div>
        <div class="col-md-3">
          <mat-label>Estado:</mat-label>
          <h6> {{item.estado}} </h6>
        </div>
        <div class="col-md-2">
          <button  class="button" mat-raised-button color="info" > Ver Detalle</button>
        </div>

      </div>
    </div>
  </mat-card>
  <br>
</div>
