.turno {
  width: 140vh;
  margin-left: -5vh;
}

.general{
 background-color: white;
}

.tarjeta{
  margin-left: -5vh;
  width: 220vh;
  border: 3px solid;
  border-color: #4e73df;
}

.fila {
  margin-left: 10vh;
}

mat-label{
  font: oblique bold 100% cursive;
}

h6{
  font: oblique bold 100% cursive;
}

.cabecera{
  width: 220vh;
  margin-top: 5vh;
  margin-left: -5vh ;
  color: black;
  background-color: rgba(236, 234, 222 ,0.5);
}

.registro{
  width: 200vh;
  height: 5vh;
  margin-left: -8vh;
}

.spaceLeft{
  margin-left: 2vh;
}

