.turno {
  width: 140vh;
  margin-left: -5vh;
}

.general{
  background-color: #B7DDFF;
}

.tarjeta{
  margin-left: -5vh;
  width: 220vh;
  border: 3px solid;
  border-color: #4e73df;
}

.fila {
  margin-left: 10vh;
}

mat-label{
  font: oblique bold 100% cursive;
}

h6{
  font: oblique bold 100% cursive;
}

.cabecera{
  width: 200vh;
  margin-top: 5vh;
  margin-left: -15vh ;
}

.registro{
  width: 200vh;
  height: 5vh;
  margin-left: -8vh;
}


