<div class="mb-5">
  <nav class="navbar navbar-expand-lg cabecera  ">
    <div class ='collapse navbar-collapse'  id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li *ngIf="perfil == 'Paciente'" class="nav-item ">
          <a class="nav-link" routerLink="/solicitudTurno" >Solicitar Turnos</a>
        </li>
        <li *ngIf="perfil == 'Administrador'" class="nav-item ">
          <a class="nav-link" routerLink="/validarEspecialidad" > Verificacion Especialidad </a>
        </li>
        <li *ngIf="perfil == 'Administrador'" class="nav-item">
          <a class="nav-link"  routerLink="/altaAdministrador"> Alta Administrador </a>
        </li>
        <li *ngIf="perfil == 'Administrador' ||  perfil == 'Profesional' " class="nav-item">
          <a class="nav-link" routerLink="/cargaHorarios" (click)="vista('carga')" > Carga Horarios </a>
        </li>
        <li *ngIf="perfil == 'Paciente' ||  perfil == 'Profesional' " class="nav-item">
          <a class="nav-link" routerLink="/listaTurnos" (click)="vista('listaTurnos')"> Mis Turnos Agendados </a>
        </li>
        <li *ngIf="perfil == 'Paciente' ||  perfil == 'Profesional' " class="nav-item">
          <a class="nav-link" routerLink="/historialTurnos" (click)="vista('historial')" > Historial de Turnos </a>
        </li>
        <!--li class="nav-item">
          <a class="nav-link" href="#"> Alta Historia Clinica </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Alta Historia Clinica </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Alta Historia Clinica </a>
        </li-->
      </ul>
      <label>Bienvenido {{nombre}}!</label>
      <a class="nav-link sesion"  (click)="usuario = null; auth.logOut()"><img [src]="imagen" class="avatar" id="perfil" alt="perfil"></a>
    </div>
  </nav>
  <!--app-alta-turno *ngIf="menu[0]== 'S'"></app-alta-turno-->
  <!--app-alta-horarios *ngIf="menu[0]== 'C'"></app-alta-horarios-->
  <!--app-verificacion-especialidad *ngIf="menu[0]== 'V'" ></app-verificacion-especialidad-->
  <!--div class="app-admin">
    <app-alta-admin *ngIf="menu[0]== 'AA'"></app-alta-admin>
  </div-->
  <!--div class="app-detalle-turno">
    <app-detalle-turno *ngIf="menu[0]== 'L'"></app-detalle-turno>
  </div-->
  <!--div class="app-historial-turno">
    <app-historial-turnos *ngIf="menu[0]== 'H'"></app-historial-turnos>
  </div-->
</div>




